
BinHab/myapp.exe
*.d
*.vsidx
*.lock
.vs/30_Arietis_Research/v17/.suo
*.testlog
*.manifest
*.json
*.sqlite
BinHab/.vs/BinHab/v17/.suo
*.htm
*.obj
*.exe
*.pdb
*.f90
BinHab/src/BinHabPolar\[2716\].f77
*.mod
BinHab/BinHab.pyproj
BinHab/dat/BaCPolarOUT.csv.xlsx
BinHab/dat/BaCPoster.png
BinHab/BinHab.sln
BinHab/dat/BaCPolarPLOT.DAT
